footer {
    font-size:90%;
}

html, body {
    height:25%;
    text-align:center;
    direction:ltr;
    font-family:'Segoe UI';
}

a:link,a:visited,a:active {
    font-weight:bold;
    color:Gray;
    padding-bottom:3%;
}

a:hover{
    color:Black;
}

#titleText {
    font-size:135%;
}

#userText {
    font-size:90%;
    margin-top:-7%;
    margin-bottom:1%;
    color:#2e51a2;
}

#options_link {
    font-size:120%;
    text-decoration:underline;
}
